<div class="bar bar-header bar-light">

  <button class="button button-dark" ui-sref="app.tab.home"><i class="ion-chevron-left"></i></button><h1 class="title">Challenges</h1>

<!--   <ion-item tappable class="button button-dark" ui-sref="app.tab.home" (dblTap)="logout()"><i class="ion-chevron-left"></i></ion-item>
 -->
  <h1 class="title">Challenges</h1>

</div>
<ion-view ng-controller="challengesCtrl">
  <ion-content class="challenges" style="padding-top:44px;">

    <div class="card" ng-repeat="challenge in challenges_data">
      
          <div class="row" ng-show="challenge.Deleted==false">
              <div class="col col-20">
                <!--<img ng-src='data:image/jpeg;base64,{{challenge.AppLogo}}" id="phto-id'/>-->
                <!--<img ng-src="data:image/jpeg;base64,{{arrayBufferToBase64(challenge.AppLogo)}}" />-->

                <img ng-src="{{challenge.AppImgUrl && profileimagepath+'/'+challenge.AppImgUrl || '../img/dummy.jpg' }}" style="width:40px;height:40px">
              </div>
              <div class="col col-50">
                <strong>App Name</strong>
                <p>{{challenge.AppName}}</p>
                <!--<p>Loreum ipsum doller</p>-->
              </div>
              <div class="col col-30">
                <div class="gift">
                    <span>₹ {{challenge.AppCost}}</span>
                    <!--<span>₹ 10</span>-->
                </div>
              </div>
        </div>

        <div class="row" ng-show="challenge.Deleted==false">
        
              <div class="col col-60">
                <p>{{challenge.AppDescription | limitTo: 100}}</p>
              </div>
              <div class="col col-10"> </div>

                <div class="col col-30 text-center">
                    <button class="button button-small button-positive install_btn" ng-click="showAppDetails(challenge)" ng-disabled="challenge.Deleted==true">{{challenge.btnCaption1}}</button>

                  <div class="col col-10"> </div>  
                  <div class="col col-30 text-center">
                      <button class="button button-small button-positive install_btn" ng-click="openMarket(challenge)" ng-disabled="challenge.Deleted==true">{{challenge.btnCaption2}}  </button>
                  </div>

              </div>

        </div> 

    </div>

    </ion-content>
  </ion-view>
