<div class="bar bar-header bar-light">
    <button class="button button-dark" ui-sref="user_setting" ><i class="ion-chevron-left"></i></button>
    <h1 class="title">Change Your Password</h1>
</div>
<ion-view ng-controller="EventsCtrl">
<ion-content class="center-content">
  <div style="padding-bottom:15px;padding-top:20px;">
  </div>
<form class="contactusform" ng-submit="contactusform.$valid && sendContactMessage()" name="contactusform" novalidate>
  <div class="form padding">
    <div class="list showvalidation">

      <h1>CONTACT US</h1>
      <br>

      <label class="item item-input">
        <input type="text" placeholder="Your Name" ng-model="contactus_data.user_name" name="username" required>
      </label>

     <p ng-show="contactusform.$submitted && contactusform.username.$error.required">please enter your name</p>
      
      <label class="item item-input">
        <input type="text" placeholder="Email Id" ng-model="contactus_data.user_email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{0,9}$">
      </label>

      <p ng-show="contactusform.$submitted && contactusform.email.$error.required">please enter your email</p>
      <p ng-show="contactusform.$submitted && contactusform.email.$error.pattern">please enter a valid email</p>
       

       <label class="item item-input">
        <input type="number" placeholder="Mobile No" ng-model="contactus_data.user_mobile" name="mobile" required ng-maxlength='10' ng-minlength='10'>
      </label>

      <p ng-show="contactusform.$submitted && contactusform.mobile.$error.required">please enter your mobile</p>
      <p ng-show="contactusform.$submitted && contactusform.mobile.$error.maxlength">please enter valid mobile</p>
      <p ng-show="contactusform.$submitted && contactusform.mobile.$error.minlength">please enter valid mobile</p>


       <label class="item item-input">
        <textarea placeholder="Enter Your Message" ng-model="contactus_data.user_message" name="message" required ></textarea>
      </label>

    </div>
    
    <div style="padding-top:15px;">
      <button type="submit" class="button button-positive theme_btn" style="color:#fffff;border-radius:24px;width:150px;" ng-disabled="checkboxModel.value2=='NO'">Send Mail</button>
    </div>
    <p style="color:#387ef5;">{{msg}}</p>
  </div>
</form>

<!--<div class="text-center padding">
  <a class="" ui-sref="login">Log In</a>
</div>-->

<div>
<button class="button reset_btn" style="color:#fff;border-radius:24px;min-width:60px" type="button" ng-click="reset_form()" ng-disabled="checkboxModel.value2=='NO'">Reset</button>
</div>
</ion-content>
</ion-view>
