<div class="bar bar-header bar-light">
    <button class="button button-dark" ui-sref="app.tab.home" ><i class="ion-chevron-left"></i></button>
    <h1 class="title">Datacard Recharge</h1>
</div>
<ion-view has-footer="true" has-tabs="true" ng-controller="EventsCtrl">
<ion-content style="padding-top:44px;" >
  <form>
  
  <div class="padding row">
    <div class="col">
      <label class="item item-icon-left item-radio" style="border: none">
        <input type="radio" name="group">
        <div class="item-content">
        Prepaid
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </div>
    <div class="col">
      <label class="item item-icon-left item-radio" style="border: none">
        <input type="radio" name="group">
        <div class="item-content">
          Postpaid
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </div>
  </div>
  
  <div class="padding">
    <div class="list send_fields custom_select">

      <label>
      <!--<ion-md-input type="text" placeholder="Datacard Number" required ng-maxlength='10' ng-minlength='10'>-->
      <input type="number" placeholder="Datacard Number" required ng-maxlength='10' ng-minlength='10' ng-model="dc_book_data.phone">
      </label>

     <div class="offer_select">

      <label class="item item-input item-select">
         <!-- <span class="input-label">Select Merchant Name:</span> -->
         <div class="input-label">Select Operator</div>
         <!-- <input type="text" placeholder="This field is optional"> -->
         </br>
          <select ng-model="dc_book_data.operator_code" 
            ng-options="merchant.operator_code as merchant.operator_name for merchant in sproviders_list">
            <option value="">Select Merchant</option>
          </select>        

      </label>

    </div>

      <label class="item item-input">
      <input type="number" placeholder="Amount" ng-model="dc_book_data.amount">
      </label>

      <ion-md-input placeholder="New name" type="text"></ion-md-input>

    </div>

    <div>
       <center>
            <button class="button theme_btn button-positive" style="color:#fff;border-radius:24px;min-width:220px;" ng-click="getDtCardRechargeBookStatus(dc_book_data)">
              Proceed to Recharge
            </button>
       </center>     
    </div>    

    </div>
  </form>
</ion-content>
</ion-view>
