<ion-view ng-controller="EventsCtrl">
  <ion-content class="home">
   
    <div class="card">
      <h4 class="padding-horizontal">EARN DAILY - COMING SOON</h4>
    </div>
    <div class="row recharge">
      <div class="col">
        <div class="home_box text-center" style="background:#00A9A7;">
          <i class="icon ion-grid"></i>
          <h5><a ui-sref="challenges">Install Apps</a></p> <!--challenges--></h5>
        </div>
      </div>
      <div class="col">
        <div class="home_box text-center" style="background:#00bfff;">
          <i class="icon ion-ios-people"></i>
          <h5><a ui-sref="app.tab.invite">Refer</a></p> <!--refer--></h5>
        </div>
      </div>
      <div class="col">
        <div class="home_box text-center">
          <i></i>
          <h5><a ui-sref=""></a></p> <!--refer--></h5>
        </div>
      </div>

    </div>


    <div class="card">
      <h4 class="padding-horizontal">RECHARGE -  COMING SOON</h4>
    </div>
    <div class="row recharge">
      <div class="col">
        <div class="home_box text-center" style="background:#00A9A7;">
          <i class="icon ion-iphone"></i>
          <h5> <a ui-sref="">Mobile</a></p> <!--mobile--></h5>
        </div>
      </div>
      <div class="col">
        <div class="home_box text-center" style="background:#00bfff;">
          <i class="icon ion-wrench"></i>
          <h5> <a ui-sref="">DTH</a></p> <!--dth--></h5>
        </div>
      </div>
      <div class="col">
        <div class="home_box text-center" style="background:#EF617D;">
          <i class="icon ion-camera"></i>
         <h5><a ui-sref="">Data Card</a></p> <!--datacard--></h5>
       </div>
      </div>


    </div>
   
   <div class="card">
      <h4 class="padding-horizontal"></h4>
    </div>
    <div class="row recharge">

      <div class="col">
        <div class="home_box text-center" style="background:#EF617D;">
          <i class="icon ion-pricetag"></i>
          <h5><a ui-sref="">Coupons</a></p> <!--hot_offers--></h5>
        </div>
      </div>

      <div class="col">
        <div class="home_box text-center">
          <i class="icon ion-pricetag"></i>
          <h5><a ui-sref=""></a></p> <!--hot_offers--></h5>
        </div>
      </div>


      <div class="col">
        <div class="home_box text-center">
          <i class="icon ion-pricetag"></i>
          <h5><a ui-sref=""></a></p> <!--hot_offers--></h5>
        </div>
      </div>


    </div>
      <!--<div class="col">
        <div class="home_box text-center" style="background:#00A9A7;">
          <i class="icon ion-flash"></i>
          <h5><a ui-sref="electricity">Electricity</a></p> </h5>
        </div>
      </div>
      <div class="col">
        <div class="home_box text-center" style="background:#00bfff;">
          <i class="icon ion-pricetag"></i>
          <h5><a ui-sref="insurance">Insurance</a></p></h5>
        </div>
      </div>
      <div class="col">
        <div class="home_box text-center" style="background:#EF617D;">
          <i class="icon ion-wand"></i>
         <h5><a ui-sref="gas">Gas</a></p></h5>
       </div>
      </div>
    </div>-->


    <!--<div class="card">
      <h4 class="padding-horizontal">Money Transfer</h4>
    </div>

    <div class="row recharge">
      <div class="col col-33">
        <div class="home_box text-center" style="background:#EF8A21;">
          <i class="icon ion-pricetag"></i>
          <h5><a ui-sref="sendmoney">Send Money</a></p></h5>
        </div>
      </div>
      <div class="col col-33"> </div>
      <div class="col col-33"> </div>
    </div>-->

</ion-content>
</ion-view>
