<ion-view ng-controller="EventsCtrl">
  <ion-content class="offer">
    <div class="card header_card">
      <div class="row">
        <div class="col text-center">
          <h3 style="margin-top:15px;">Get Cash</h3>
        </div>
        <div class="col">
          <h4>Get cash offers</h4>
          <p>Deals,Coupon,promocode </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row offer_row">
      <div class="col col-30 deal_col">
        <div class="hot_deal text-center">
          <h4>Hot Deal</h4>
        </div>
      </div>
      <div class="col col-40 text-center">
         <p><span style="vertical-align: -webkit-baseline-middle;"><i class="icon ion-checkmark-circled" style="font-size:24px;color:#00bfff;"></i></span> Verified</p>
      </div>
      <div class="col col-30 text-right">
        <span class="fbcolor" style="margin-right:10px"> <i class="icon ion-social-facebook" style="font-size:24px;"></i></span>
        <span class="whatsupcolor"><i class="icon ion-social-whatsapp" style="font-size:24px;"></i></span>
      </div>
      </div>
      <div class="padding-horizontal">
          <h5>Samsung mobile fest - flat rs 220 off on samsung Mobile</h5>
          <a href="#"> Show Description</a>
      </div>
      <div class="padding text-right">
        <a class="button icon-left ion-thumbsdown button-clear button-small button-dark"> </a><span>0</span>
        <a class="button icon-left ion-thumbsup  button-clear button-small button-dark"> </a><span>0 </span>
      </div>
    </div>
    <div class="card">
      <div class="row offer_row">
      <div class="col col-30 deal_col">
        <div class="hot_deal text-center">
          <h4>Hot Deal</h4>
        </div>
      </div>
      <div class="col col-40 text-center">
         <p><span style="vertical-align: -webkit-baseline-middle;"><i class="icon ion-checkmark-circled" style="font-size:24px;color:#00bfff;"></i></span> Verified</p>
      </div>
      <div class="col col-30 text-right">
        <span class="fbcolor" style="margin-right:10px;"><i class="icon ion-social-facebook" style="font-size:24px;"></i></span>
        <span class="whatsupcolor"><i class="icon ion-social-whatsapp" style="font-size:24px;"></i></span>
      </div>
      </div>
      <div class="padding-horizontal">
          <h5>Samsung mobile fest - flat rs 220 off on samsung Mobile</h5>
          <a href="#"> Show Description</a>
      </div>
      <div class="padding text-right">
        <a class="button icon-left ion-thumbsdown button-clear button-small button-dark"> </a><span>0</span>
        <a class="button icon-left ion-thumbsup  button-clear button-small button-dark"> </a><span>0 </span>
      </div>
    </div>
    <div class="card">
      <div class="row offer_row">
      <div class="col col-30 deal_col">
        <div class="hot_deal text-center">
          <h4>Hot Deal-Testing</h4>
        </div>
      </div>
      <div class="col col-40 text-center">
         <p><span style="vertical-align: -webkit-baseline-middle;"><i class="icon ion-checkmark-circled" style="font-size:24px;color:#00bfff;"></i></span> Verified</p>
      </div>
      <div class="col col-30 text-right">
        <span class="fbcolor" style="margin-right:10px;"><i class="icon ion-social-facebook" style="font-size:24px;"></i></span>
        <span class="whatsupcolor"><i class="icon ion-social-whatsapp" style="font-size:24px;"></i></span>
      </div>
      </div>
      <div class="padding-horizontal">
          <h5>Samsung mobile fest - flat rs 220 off on samsung Mobile</h5>
          <a href="#"> Show Description</a>
      </div>
      <div class="padding text-right">
        <a class="button icon-left ion-thumbsdown button-clear button-small button-dark"> </a><span>0</span>
        <a class="button icon-left ion-thumbsup  button-clear button-small button-dark"> </a><span>0 </span>
      </div>
    </div>
    <div class="card">
      <div class="row offer_row">
      <div class="col col-30 deal_col">
        <div class="hot_deal text-center">
          <h4>Hot Deal</h4>
        </div>
      </div>
      <div class="col col-40 text-center">
         <p><span style="vertical-align: -webkit-baseline-middle;"><i class="icon ion-checkmark-circled" style="font-size:24px;color:#00bfff;"></i></span> Verified</p>
      </div>
      <div class="col col-30 text-right">
        <span class="fbcolor" style="margin-right:10px;"><i class="icon ion-social-facebook" style="font-size:24px;"></i></span>
        <span class="whatsupcolor"><i class="icon ion-social-whatsapp" style="font-size:24px;"></i></span>
      </div>
      </div>
      <div class="padding-horizontal">
          <h5>Samsung mobile fest - flat rs 220 off on samsung Mobile</h5>
          <a href="#"> Show Description</a>
      </div>
      <div class="padding text-right">
        <a class="button icon-left ion-thumbsdown button-clear button-small button-dark"> </a><span>0</span>
        <a class="button icon-left ion-thumbsup  button-clear button-small button-dark"> </a><span>0 </span>
      </div>
    </div>




  </ion-content>
  </ion-view>
