<ion-view ng-controller="EventsCtrl">
  <ion-content class="center-content padding login">
    <div class="padding" style="margin-bottom:30px;">
      <img src="img/get_cash.png">
    </div>
    <form class="padding" ng-submit="otppass()" name="reset_form" novalidate>
      <div class="list showvalidation">
        <label class="item item-input">
          <input type="number" placeholder="Enter OTP Password" name="code" required ng-model="reset_data.activation_code" pattern="[0-9]{6}">
        </label>
        <p ng-show="reset_form.$submitted && reset_form.code.$error.required">please enter your correct OTP password</p>
      </div>
      <br>
      <br>
      <br>
      <button class="button theme_btn button-positive" style="color:#fff;border-radius:24px;min-width:220px;" type="submit">Verify OTP</button>

    </form>
    <p style="color:#387ef5"> {{message}} </p>
    
    <div class="text-center">
      <a class="" ui-sref="login">Log In</a>
    </div>
    <br>
    <div class="text-center">
      <a class="" ng-click="otppassresend()">Resend OTP</a>
    </div>
    <br>
    <br>
    <br>
    <p style="color:#00bfff">PLEASE CHECK YOUR MOBILE SMS INBOX FOR THE VERIFICATION OTP PASSWORD SENT FOR VERIFICATION...!<p>

  </ion-content>
</ion-view>
