<div class="bar bar-header bar-light">
  <button class="button button-dark" ui-sref="app.tab.home" ><i class="ion-chevron-left"></i></button><h1 class="title">Refer</h1>
</div>
<ion-view ng-controller="EventsCtrl">
  <ion-content style="padding-top:44px;">
    <div class="padding">
      <div class="invite_box">
        <div class="row">
          <div class="col col-40">
            <div class="invite_circle text-center light">
              <img src="img/invitesign.svg">
              <h4 style="margin-top:5px;" class="light">Get Cash</h4>
            </div>
          </div>
          <div class="col col-60 ">
            <h4>Each friend can give you</h4>
            <h3 class="text-center">Rs.25</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="padding">
      <p>1. Get <span style="color:#00bfff;">₹.25</span> PayTM cash per friend who join and install 1 app via Get Cash  </p>
      <p>2. Your Friend will also get Rs. 20 extra PayTM cash, start inviting !</p>
    </div>
    <div class="padding text-center">
      <h4>Share this massage to friend and start earning</h4>
      <div class="share_box">
        <p>This app gives free PayTM cash every day. Download and get rs 20 extra #PayTm Cash Today <a href="#">Link Here</a> </p>
       </div>
    </div>
    <div class="row padding social_share">
      <div class="col text-center ">
       <button class="button button-large icon ion-social-facebook sharebtn" style="background:#3b5998;"></button>
       <p>Share on Fb </p>
      </div>
      <div class="col text-center">
       <button class="button button-large icon ion-social-whatsapp sharebtn" style="background:#55CD6C;"></button>
       <p>Share on Whatsapp </p>
      </div>

    </div>


  </ion-content>
</ion-view>
