<div class="bar bar-header bar-light">
    <button class="button button-dark" ui-sref="app.tab.home" ><i class="ion-chevron-left"></i></button>
    <h1 class="title">User Settings</h1>
</div>

<ion-view ng-controller="EventsCtrl">
  <ion-content style="padding-top:45px;">

    
    <div class="list" class="bar bar-header bar-light">
        <a class="item" ui-sref="change_pass">
        Change Password 
        </a>
       
        <a class="item" ui-sref="edit_profile">
        Profile 
        </a>
        <a class="item" ui-sref="security_settings">
        Security Settings 
        </a>

   </div>
 

  </ion-content>
</ion-view>
